In [22]:
import logging


def generate_triangle(n):
    """
    Function to return a right-angled triangle of '*' of side n as a list of strings.

    Parameters:
    n (int): The height and base of the triangle.

    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    lst = []
    for i in range(1, n + 1):
        lst.append("*" * i)
        print(lst)
        print("free")
    return lst

In [24]:
print(generate_triangle(2))

['*']
free
['*', '**']
free
['*', '**']

In [48]:
def generate_pyramid(n):
    """
    Function to return a pyramid pattern of '*' of side n as a list of strings.

    Parameters:
    n (int): The number of rows in the pyramid.

    Returns:
    list: A list of strings where each string represents a row of the pyramid.
    """
    # Your code here
    lst = []
    for i in range(1, n + 1):
        print(i)
        lst.append("*" * (2 * i - 1))
    return lst


generate_pyramid(3)

1
2
3

['*', '***', '*****']

In [ ]:
* 2*1-1 1
*** 2*2-1 3
***** 2*3-1 5

In [53]:
def generate_inverted_pyramid(n):
    """
    Function to return an inverted pyramid pattern of '*' of side n as a list of strings.

    Parameters:
    n (int): The number of rows in the inverted pyramid.

    Returns:
    list: A list of strings where each string represents a row of the inverted pyramid.
    """
    # Your code here
    lst = []
    for i in range(n, 0, -1):
        star = "*" * (2 * i - 1)
        spaces = " " * (n - i)
        lst.append(spaces + star + spaces)
    return lst


generate_inverted_pyramid(3)

['*****', ' *** ', '  *  ']

In [57]:
def generate_number_triangle(n):
    """
    Function to return a right-angled triangle of repeated numbers of side n as a list of strings.

    Parameters:
    n (int): The height of the triangle.

    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here

    lst = []
    for i in range(1, n + 1):
        lst.append(str(i) * i)
    return lst


generate_number_triangle(5)

['1', '22', '333', '4444', '55555']

In [24]:
def generate_floyds_triangle(n):
    """
    Function to return the first n rows of Floyd's Triangle as a list of strings.

    Parameters:
    n (int): The number of rows in the triangle.

    Returns:
    list: A list of strings where each string represents a row of Floyd's Triangle.
    """
    # Your code here
    lst = []
    current_num = 1
    for i in range(1, n + 1):
        row = " ".join(str(current_num + j) for j in range(i))
        print(current_num, i)
        lst.append(row)
        current_num += i
        print(current_num, i)
    return lst


generate_floyds_triangle(5)

1 1
2 1
2 2
4 2
4 3
7 3
7 4
11 4
11 5
16 5

['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15']

In [28]:
lst = []
cm = 1
n = 6
for i in range(1, n + 1):
    row = " ".join(str((cm) + j) for j in range(i))
    lst.append(row)
    cm += i
print(lst)

['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15', '16 17 18 19 20 21']

In [52]:
def generate_diamond(n):
    """
    Function to return a diamond pattern of '*' of side n as a list of strings.

    Parameters:
    n (int): The number of rows for the upper part of the diamond.

    Returns:
    list: A list of strings where each string represents a row of the diamond.
    """
    # Your code here
    lst = []
    for i in range(1, n + 1):
        spaces = " " * (n - i)
        row = "*" * (2 * i - 1)
        lst.append(spaces + row)
    for j in range((n + 1) // 2, 0, -1):
        spaces = " " * (n - j)
        row = "*" * (2 * j - 1)
        lst.append(spaces + row)
    return lst


generate_diamond(3)

['  *', ' ***', '*****', ' ***', '  *']

In [ ]:
Input: 3
Output: ["  *  ", " *** ", "*****", " *** ", "  *  "]

Input: 5
Output: [
    "    *    ",
    "   ***   ",
    "  *****  ",
    " ******* ",
    "*********",
    " ******* ",
    "  *****  ",
    "   ***   ",
    "    *    ",
]

In [57]:
def generate_right_angled_triangle(n):
    """
    Function to return a right-angled triangle of '*' of side n as a list of strings.

    Parameters:
    n (int): The height of the triangle.

    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    lst = []
    for i in range(1, n + 1):
        spaces = " " * (n - i)
        row = "*" * (i)
        lst.append(spaces + row)
    return lst


generate_right_angled_triangle(3)

['  *', ' **', '***']

In [132]:
def generate_sandglass(n):
    """
    Function to return a sandglass pattern of '*' of side n as a list of strings.

    Parameters:
    n (int): The height of the sandglass.

    Returns:
    list: A list of strings where each string represents a row of the sandglass pattern.
    """

    # Your code here
    lst = []
    for i in range(n, 0, -1):
        print("i", i)
        star = "*" * (2 * i - 1)
        spaces = " " * (n - i)
        lst.append(spaces + star + spaces)
    for i in range(n - 1):
        print("i")
        print(i)
        star = "*" * (2 * (i + 1) + 1)
        spaces = " " * (n - i - 2)
        lst.append(spaces + star + spaces)
    return lst


generate_sandglass(3)

i 3
i 2
i 1
i
0
i
1

['*****', ' *** ', '  *  ', ' *** ', '*****']

In [159]:
def generate_hollow_right_angled_triangle(n):
    """
    Function to return a hollow right-angled triangle of '*' of side n as a list of strings.

    Parameters:
    n (int): The height of the triangle.

    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    triangle = []

    # Loop through each row from 1 to n
    for i in range(n, 0, -1):
        # For the first row, just add one star
        if i == 1:

            triangle.append("*")
        # For the last row, add 'n' stars
        elif i == n:
            triangle.append("*" * n)
        # For the intermediate rows, add a star, spaces, and another star
        else:
            # Add the row: one star, and one star
            spaces = " " * (i - 2)
            triangle.append("*" + spaces + "*")
            # triangle.append("*" + " " * (i - 2) + "*")

    # Return the list of triangle rows
    return triangle


generate_hollow_right_angled_triangle(4)

['****', '* *', '**', '*']

In [ ]:
Output: ["****", "* *", "**", "*"]

In [166]:
def generate_number_pyramid(n):
    """
    Function to return a pyramid pattern of numbers of height n as a list of strings.

    Parameters:
    n (int): The height of the pyramid.

    Returns:
    list: A list of strings where each string represents a row of the pyramid pattern.
    """
    # Your code here
    lst = []
    for i in range(1, n + 1):
        spaces = " " * (n - i)
        start = " ".join(str(j) for j in range(1, i + 1))
        row = spaces + start + spaces
        lst.append(row)
    return lst


generate_number_pyramid(4)

['   1   ', '  1 2  ', ' 1 2 3 ', '1 2 3 4']

In [ ]:
Input: 4
Output: ["   1   ", "  1 2  ", " 1 2 3 ", "1 2 3 4"]

Input: 3
Output: ["  1  ", " 1 2 ", "1 2 3"]

In [188]:
def reverse_list(lst):
    # Your code goes here
    print(lst)
    lstrev = []
    max = len(lst) - 1
    print(max)
    for i in range(max, -1, -1):
        print(i)
        lstrev.append(lst[i])
        # print(lst[i])
    return lstrev


reverse_list([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]
4
4
3
2
1
0

[5, 4, 3, 2, 1]

In [213]:
def count_even_odd(lst):
    # Your code goes here
    ecount = 0
    ocount = 0
    for i in lst:
        print(i)
        if i % 2 == 0:
            print("h")
            ecount += 1
        else:
            ocount += 1
    return tuple([ecount, ocount])
    print("count", ecount)


count_even_odd([2, 4, 6, 8, 10])

2
h
4
h
6
h
8
h
10
h

(5, 0)

In [217]:
def max_consecutive_difference(lst):
    # Your code goes here
    dl = []
    for i in range(len(lst) - 1):
        diff = abs(lst[i] - lst[i + 1])
        dl.append(diff)
    print(dl)
    return max(dl)


max_consecutive_difference([1, 7, 3, 10, 5])

[6, 4, 7, 5]

7

In [266]:
def rotate_list(lst, k):
    # Your code goes here

    new_lst = []
    k = k % len(lst)
    print("k", k)

    for j in range(len(lst) - k, len(lst)):
        new_lst.append(lst[j])
    for i in range(0, len(lst) - k):
        new_lst.append(lst[i])
    return new_lst


rotate_list([10, 20, 30, 40, 50], 6)
# rotate_list([1, 2, 3, 4, 5],2)

k 1

[50, 10, 20, 30, 40]

In [291]:
def merge_three_dictionaries(dict1, dict2, dict3):
    dict1.update(dict2)
    dict1.update(dict3)
    return dict1


merge_three_dictionaries({"a": 1, "b": 2}, {"a": 3, "d": 4}, {"e": 5, "f": 6})

{'a': 3, 'b': 2, 'd': 4, 'e': 5, 'f': 6}

In [293]:
def count_word_frequency(sentence):
    word_count = {}
    for word in sentence.split(" "):
        if word in word_count.keys():
            word_count[word] += 1
        else:
            word_count[word] = 1
    return word_count


count_word_frequency("hello world hello")

{'hello': 2, 'world': 1}

In [ ]:
def merge_three_dictionaries(dict1, dict2, dict3):
    dict1.update(dict2)
    dict1.update(dict3)
    return dict1


merge_three_dictionaries({"a": 1, "b": 2}, {"a": 3, "d": 4}, {"e": 5, "f": 6})

In [ ]:
10/2= q=5 r=0
5/2= q=2 r=1
1        0
10/2

In [309]:
def binary_to_decimal(binary_str):
    """
    Function to convert a binary string to its decimal integer representation.

    Parameters:
    binary_str (str): The binary string to convert.

    Returns:
    int: The decimal representation of the binary string.
    """
    # Your code here


binary_to_decimal("1101")

8
12
12
13

In [ ]:
def gcd_g(n, m):
    while n > 0:
        remainder = n % m
        n = m
        m = remainder


return n

In [312]:
lst = [
    1,
    2,
    3,
    45,
]


def mul(num):
    return num * num


list(map(mul, lst))

[1, 4, 9, 2025]

In [317]:
def count_consonants(s):
    """
    Function to count the number of consonants in the input string.

    Parameters:
    s (str): The input string to check for consonants.

    Returns:
    int: The count of consonants in the input string.
    """
    # Your code here
    vowel = ["a", "e", "i", "o", "u"]
    count = 0
    for char in s:
        if char.isalpha():
            if char not in vowel:
                count += 1
        else:
            pass

    return count


count_consonants("Hello, World!")

7

In [351]:
def is_subsequence(s, t):
    """
    Function to check if t is a subsequence of s.

    Parameters:
    s (str): The original string.
    t (str): The target subsequence string.

    Returns:
    bool: True if t is a subsequence of s, False otherwise.
    """
    # Your code here


is_subsequence(s="abcde", t="aec")

a a
a b
a c
a d
a e
e b
e c
e d
e e
c c
c d
c e

False